*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.main{
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
}
.nav{top: 0;
    position: sticky;
    justify-content: space-between;
    background-color: white;
    display: flex;
    /* border-bottom: 2px solid red; */
}
.navp1{
    padding: 1em;
     align-items: center;
    display: flex;
    /* border: 2px solid red; */
}
#mainl{
    cursor: pointer;

    font-size: 1.8rem;
    padding-left: 0.2em;
}
.navp1 img{
    cursor: pointer;
/* padding: 1em; */
    width: 2.9em;
    height: 2.6em;
   
}
.navp2{
    align-items: center;
     display: flex;
    }
.navp2 ul{
    display:flex;
    list-style: none;
    font-size: 1.1rem;
}
.navp2 ul li{
    cursor: pointer;

    padding: 0.8em;
}
#b{
    padding: 0.8em;
}
.navp2 button{
    cursor: pointer;
    font-size:1rem;
    color: white;
    background: #1a73e8;
    width: 12rem;
    height: 3rem;
    border: none;
}
.navp2 button:hover{
    background: #005cd4;

}

.cont1{
    /* border: 2px solid red; */
    background-color:rgba(245, 245, 245, 0.938);
    display: flex;
 
}
#cont1d{
    /* border: 2px solid red; */

    width: 50vw;
padding-left:6em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60vw;

}

.cont1 img{
    /* border: 2px solid red; */

    width: 50vw;
    height:78vh;
}

#cont1dp1{
    /* border: 2px solid red; */

  text-align: center;
}
#cont1dp1 p{
    /* border: 2px solid red; */

    width: 35vw;
    font-size: 5vw;
    text-align: left; 
}
#cont1dp2{
    /* border: 2px solid red; */

    text-align: center;
}
#cont1dp2 p{
    /* border: 2px solid red; */

    padding-top: 1em;
    font-size: 1.5vw;
     text-align: left;
}
#cont1db1{
    margin-top: 2em;
    font-size:1rem;
    color: white;
    background: #1a73e8;
    width: 12rem;
    height: 3rem;
    border: none;
    cursor: pointer;

}
#cont1db1:hover{
    background: #005cd4;

}

/* container next */
#cont1d2{
    font-size: 4vw;
    margin-top: 7vw;
    text-align: center;
}
#cont1d3{
    margin-top:2vw;
    font-size: 2vw;
    text-align: center;
}
#cont1d4{
  justify-content: center;
  margin-top:2.5vw;

    display: flex;
    text-align: center;
}
#cont1d4 img{
    cursor: pointer;
    padding:0.2em;
    height: 8vh;
    width: 12vw;
}
#cont1d5{
    margin-top:5vw;
    height: 70vh;
     
}
#cont1d5 img{
    width:100%;
    height: 70vh;

}
#cont1d6{ 
    margin-top:3vw;
    display: flex;
    
}
#cont1d6d1{
    background-color:rgba(245, 245, 245, 0.938);
    margin: 2em;
    width: 50vw;
}
#cont1d6d2{
    background-color:rgba(245, 245, 245, 0.938);
    margin: 2em;
width: 50vw;
}
#d6d2p1{
    font-size: 4vw;
    padding: 0.8em 0.8em 0 0.8em;
}
#cont1d6d1 img{
    height:25vh;
    width:100%;
    margin-bottom: 4em;
}
#d6d2p2{
    padding: 1em 2.21em 2.2em 2.2em;
    font-size: 1.5vw;
}
#cont1d6d2 img{
    margin-top: 4em;
    margin-bottom: 4em;
    height:25vh;
    width:100%;
}

/* container 2 */

.cont2{
    display: flex;
    height: 60vh;
}
#cont2d1{
    padding: 3em;
    width: 50vw;

    
}
.cont2 img{margin-top: 6em;
    height: 27vh;
    width: 50vw;
    padding:0.4em;
}

.cont3{
    background-color:rgba(245, 245, 245, 0.938);
display: flex;
align-items: center;
    height: 88vh;
}
.cont3 img{
    padding: 1em;
    height: 40vh;
    width: 50vw;
}
.cont3d1{
    align-items: center;
    width: 50vw;
}
#cont3d1p1{
    font-size: 4vw;
    padding: 0.8em 0.8em 0 0.8em;

}
#cont3d1p2{
    font-size: 1.5vw;
    padding: 1em 2.21em 2.2em 2.2em;
}



/* container 4 */
.cont4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    /* border-bottom: 2px solid red; */
}
.cont4d1{
    text-align: center;
}
.cont4 img{
    width: 3.8em;
    height: 4em;
}
#cont4d1p1{
    margin-top:0.5em;
    margin-bottom: 0.8em;
font-size: 4vw;
}
.cont4d1 button{
    cursor: pointer;
    font-size:1rem;
    color: white;
    background: #1a73e8;
    width: 12rem;
    height: 3rem;
    border: none;
}
.cont4d1 button:hover{
    background: #005cd4;

}

/* footer */

.ft{
    background-color:rgba(245, 245, 245, 0.938);

    color: #5f6368;
    
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.ftp1{
    padding: 0.3em;
    font-size:1.8em;

}

.ftul{
    list-style: none;
    display: flex;

}
.ftul li{
   
    padding:1.4em;
}
.ftul li a{
    color: rgb(31, 28, 28);
    text-decoration: none;
}
.ftul li a:hover{
    color: rgb(0, 0, 0);
}

.ftd1{
    display: flex;

}
.ftd1 i{
    padding:0.3em;
    cursor: pointer;
}
.ftd1 p{
    padding:0.3em;
    cursor: pointer;
}
.ftd2{
    position: relative;
    justify-content: space-between;
    width: 20vw;
    align-items: center;
    display: flex;

}
.ftd2 i{
    padding:0.5em;
    cursor: pointer;
}

.ftd2 p{
    padding:0.5em;
    cursor: pointer;
}
.hs{
    overflow: auto;
    display: none;
    position: absolute;
border: 2px solid red;
right: 0.2em;
width: 20vw;
height: 60vh;
bottom: 2em;
background-color:rgba(245, 245, 245, 0.938);
border: 1px solid black;
}
.hsli{
    cursor: pointer;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    /* border: 1px solid grey; */
    list-style: none;
}
.hsli:hover{
    background: #1a73e8;

    color: white;
}